{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OWN BLOG</title>
  </head>
  <body>
    <!-- 게시물 추가 -->
    <div class="make_Ob">
      <a href="{% url 'create' %}">
        <!-- 추가 버튼 -->
        <div class="plus_btn">
          <button>글 작성하기</button>
        </div>
      </a>
    </div>

    <br />

    {% for Ob in all_Ob %}
    <!-- Ob.id - 객체 번호를 같이 보내서 detail.html에서 
  특정한 객체번호에 해당되는 페이지만 나올 수 있게 링크를 걸어준다  -->
    <a href="{% url 'detail' Ob.id %}">
      <div class="all_Ob">
        <p>{{Ob.title}}</p>
        <p>{{Ob.content}}</p>
        <p>{{Ob.update_at|date:"Y-m-d"}}</p>
      </div>
    </a>
    {% endfor %}
  </body>
</html>
