<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main2.css' %}" />
    <title>main</title>
  </head>
  <body style="background-color: #a9d0f5;">
    <div class="main-div">
        <div class="main-container">
            something
        </div>
    </div>

    <div class="btn-area" style="margin: auto;">
      <a href="{% url 'login' %}">
        <button id="mainbtn" type="submit">로그인 하러 가기</button>
      </a>
    </div>
    
    <div class="btn-area" style="margin: auto;">
        <a href="{% url 'signup' %}">
          <button id="mainbtn" type="submit">회원가입 하러 가기</button>
        </a>
      </div>
  </body>
</html>
